<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CART: 0</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>

  </ul>
  <div class="jumbotron">
<h1>best price gadgets</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <h1>{{product.name}}</h1>
      <img class="qwerty" src={{product.img}} alt="Card image cap">

    </div>
    <div class="col-md-8">
      <h3>SPECS</h3>
      <ul>

      <li>Camera:</li>
      <li>Storage:</li>
      <li>RAM:</li>
      <li>Display:</li>

    </ul>
    </div>
  </div>
</div>
