<div class="card">
  <img class="card-img-top" src="{{product.img}}" alt="Card image cap">
  <div class="card-body">
{{#link-to 'product' product.id}}<h4 class="card-title">{{product.name}}</h4>{{/link-to}}
    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
  <p>Price: {{product.price}}  <button {{action 'addToCart' product}} class="btn btn-primary" name="button">add to cart</button></p>
  </div>
</div>
